.container {
    display: flex;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex: 1 0 300px;
}

.cell {
    flex: 1 0 100px;
    box-sizing: border-box;
    border: 1px solid black;
}